<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DAILY JOURNAL</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li id="home"><a href="/">Home</a></li>
      <li id="about"><a href="/about">About Us</a></li>
      <li id="contact"><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</nav>
